html {
  background: #f6f6f6;
  height: 100%;
}

.block {
  width: 380px;
  height: 108px;
  background: #fff;
  border: 1px solid #d5d5d5;
  box-shadow: 0 1px 3px 0 rgba(00, 00, 00, 0.2);
  border-radius: 7px;
  position: relative;
}

.title {
  font-size: 21px;
}

.occupation {
  font-weight: 300;
  font-size: 18px;
}

.time {
  font-weight: 300;
  font-size: 18px;
}
